* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #800080, #191919);
}

.grid-container {
  display: grid;
  grid-auto-columns: auto;
}

.grid-item > figure {
  width: 100%;
  border: none;
}

.grid-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 150px;
  border: 5px solid whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 28%);
  grid-template-rows: 150px;
  gap: 5px;
  background-color: whitesmoke;
}

.list-item {
  cursor: pointer;
  height: 100%;
  background: no-repeat center/contain;
  transform-origin: center;
  transition: transform 300ms ease-in-out;
  overflow: clip;
}

a img:hover {
  transform: scale(1.05);
}

a img {
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .carousel {
    width: 100%;
    height: 25%;
  }
}